<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>操作密码</title>
    <link rel="stylesheet" th:href="@{/plugins/layui/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/plugins/layui/style/admin.css}">
</head>
<body>
<div class="layui-form" lay-filter="layuiadmin-form-tags" id="layuiadmin-app-form-tags"
     style="padding-top: 30px; text-align: center;">
    <div class="layui-form-item">
        <label class="layui-form-label">操作密码</label>
        <div class="layui-input-inline">
            <input type="password" name="operation-password" lay-verify="required" placeholder="请输入..." autocomplete="off"
                   class="layui-input">
        </div>
    </div>
</div>
<script th:src="@{/plugins/layui/layui/layui.js}"></script>
<script>
    layui.config({
        base: '/plugins/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function(){
        let $ = layui.$,
            form = layui.form ;
    })
</script>
</body>
</html>

