<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Bug - 500 status</title>
  <link rel="stylesheet" th:href="@{ /css/error/style.css }">
  <link rel="icon" th:href="@{ /img/favicon.ico }" type="image/x-icon">
</head>
<body>
<div class="five">5</div>
<div class="zero">0</div>
<div class="bug">
  <div class="bug-ear">
    <div class="ear ear-left"></div>
    <div class="ball ball-left"></div>
    <div class="ear ear-right"></div>
    <div class="ball ball-right"></div>
  </div>
  <div class="body">
    <div class="body-outside"></div>
    <div class="body-between"></div>
    <div class="body-inside">
      <div class="face"></div>
      <div class="wing">
        <div class="wing-left"></div>
        <div class="wing-right"></div>
      </div>
      <div class="dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
