<!DOCTYPE html>
<html lang="zh"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <title>文章列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" th:href="@{ /plugins/layui/layui/css/layui.css }">
  <link rel="stylesheet" th:href="@{ /plugins/layui/style/admin.css }">
  <script type="text/javascript" th:src="@{ /plugins/jquery/jquery-3.2.1.min.js }"></script>
</head>
<body>
<div class="layui-card">
  <div class="layui-form layui-card-header layuiadmin-card-header-auto">
    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">作者</label>
        <div class="layui-input-block">
          <input type="text" name="author" placeholder="请输入文章作者" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">文章名</label>
        <div class="layui-input-block">
          <input type="text" name="title" placeholder="请输入文章名" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">分类名</label>
        <div class="layui-input-block">
          <select name="category" id="category">
            <option value="">请选择分类</option>
            <option th:each="category : ${ allCategories }"
                    th:value="${ category.cid }"
                    th:text="${ category.categoryName }">
            </option>
          </select>
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
          <select name="deleted">
            <option value="">不限</option>
            <option value="0">开启</option>
            <option value="1">关闭</option>
          </select>
        </div>
      </div>
      <div class="layui-inline">
        <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="article-search">
          <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="layui-card-body">
    <table class="layui-table">
      <div>
        <table class="layui-hide" id="article-table" lay-filter="article-table"></table>
      </div>
    </table>
  </div>
  <input th:value="${ user.uid }" style="display: none" id="uid"/>
</div>

<script th:src="@{ /plugins/layui/layui/layui.js }"></script>
<script type="text/html" id="operation-bar">
  <a sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')" class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
  <a sec:authorize="hasAnyAuthority('ADMIN', 'DELETE')" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
</script>
<script type="text/html" id="toolbar">
  <div class="layui-btn-container">
    <button sec:authorize="hasAnyAuthority('ADMIN', 'WRITER')" class="layui-btn layui-btn-sm" lay-event="add">添加文章</button>
    <button sec:authorize="hasAnyAuthority('ADMIN', 'DELETE')" class="layui-btn layui-btn-sm" lay-event="batch-del">删除文章</button>
  </div>
</script>
<script id="switchTpl" type="text/html">
  <input type="checkbox" name="deleted" value="{{ d.aid }}" lay-skin="switch" lay-text="开启|关闭" lay-filter="deleted"
         {{ d.deleted== 0 ? "checked" : "" }}>
</script>
<script th:inline="none" th:src="@{ /js/admin/article/article-management.js }"></script>
</body>
</html>
