<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="run.xuyang.myblogv2.mapper.UserMapper">
  <!-- 向 user_role 表中批量插入记录 -->
  <insert id="addRolesToUser">
    insert into user_role (uid, rid)
    value
    <foreach item="rid" index="index" collection="roleParam" separator=",">
     (#{uid}, #{rid})
    </foreach>
  </insert>

  <!-- 根据 uid 批量删除 uid-rid 的关联记录 -->
  <delete id="batchDeleteUserRole" parameterType="java.util.List">
    delete from user_role where uid in
    <foreach item="uid" index="index" collection="batchDelIds" open="(" separator="," close=")">
      #{uid}
    </foreach>
  </delete>

  <!-- 根据 uid 批量删除 用户 -->
  <delete id="batchDeleteUser" parameterType="java.util.List">
    delete from user where uid in
    <foreach item="uid" index="index" collection="batchDelIds" open="(" separator="," close=")">
      #{uid}
    </foreach>
  </delete>
</mapper>
